<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- <link rel="stylesheet" href="../authentication/styles.css"> -->
</head>
<body>
    <header class="cabecalho">
        <h1 class="cabecalho__titulo">Lista de Tarefas</h1>
        <div class="cabecalho__links" [ngStyle]="{'display': visibleLinksNavbarMobile ? 'none' : 'flex'}">
            <a class="cabecalho__links__link" [routerLink]="''"><p>Login</p></a>
            <a class="cabecalho__links__link" [routerLink]="'register'"><p>Cadastro</p></a>
        </div>
        <div class="cabecalho__menu-icon">
            <a (click)="viewNavbarMobileOptions()"><img src="/bars-solid-_2_.png"></a>
        </div>
    </header>
    <main class="formulario">
        <section class="formulario__caixa">
            <div class="formulario__caixa__header">
                <h1>Login</h1>
                <hr>
            </div>
            <form class="formulario__caixa__form" [formGroup]="loginForm" (ngSubmit)="addlogin()">
                <div class="formulario__caixa__form__caixa">
                    <label for="loginEmail">Email</label>
                    <input type="text" id="loginEmail" name="loginEmail" formControlName="Email">
                </div>
                <div class="formulario__caixa__form__caixa">
                    <label for="loginPassword">Senha</label>
                    <div class="formulario__caixa__form__caixa__password">
                        <input [type]="isTypePassword ? 'password' : 'text'" id="loginPassword" name="loginPassword" formControlName="Password" [ngStyle]="">
                        <i class="bi bi-eye" [ngStyle]="{'display': isTypePassword ? '' : 'none', 'font-size': '20px'}" (click)="viewPassword()"></i>
                        <i class="bi bi-eye-slash" [ngStyle]="{'display': isTypePassword ? 'none' : '', 'font-size': '20px'}" (click)="viewPassword()"></i>
                    </div>
                </div>
                <button class="formulario__caixa__botao" type="submit"><p>Login</p></button>
                
                <!-- <a class="formulario__caixa__botao" [routerLink]="'home'"><p>Login</p></a> -->
            </form>
        </section>
    </main>
    <footer class="rodape">
        <p>Desenvolvido por <a href="https://www.linkedin.com/in/brunoantonioalexandrinodasilva/">Bruno Antonio</a></p>
    </footer>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <!-- <script src="../js/main.js"></script> -->
</body>
</html>